<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BulkSmsRoutine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Mode" value="Interval"/>
    <add key="IntervalMinutes" value="1"/>
    <add key="ScheduledTime" value="01:00"/>
    <add key="MyAppUsername" value="shawn72" />
    <add key="MyAppAPIKey" value="c3694e912192ea65613c54f2655264842ff2d17e1d60e2f25931b7bb6013d8d8" />
    <add key="Shortcode" value="" />
    <add key="W_USER" value="Dynasoft" />
    <add key="W_PWD" value="Open1234!" />
    <add key="DOMAIN" value="kntcl" />
    <add key="ODATA_URI" value="http://192.168.0.3:7053/KNTC2018/OData/Company('Kenya%20National%20Trading%20Corp')/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <BulkSmsRoutine.Properties.Settings>
      <setting name="BulkSmsRoutine_WebRef_sms" serializeAs="String">
        <value>http://192.168.0.3:7052/KNTC2018/WS/Kenya%20National%20Trading%20Corp/Codeunit/sms</value>
      </setting>
    </BulkSmsRoutine.Properties.Settings>
  </applicationSettings>
</configuration>